<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>Editar Usuário</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>
                      {{ message }}
                    </p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('usuario.editar', id_usuario=usuario.id_usuario) }}">
            <label>
                Nome: <input type="text" name="nome" value="{{ usuario.nome }}">
            </label>
            <label> 
                Idade: <input type="number" name="idade" value="{{ usuario.idade }}">
            </label>
            <button type="submit">Alterar Cadastro</button>
        </form>
    </body>
</html>